<html>

<header>
    <div class="container">
        <a href="/accueil"><img src="mqj.png" alt="Logo" height="70"></a>
        <h2>Connectez-vous pour accédé à nos services !</h2>
        <p>Déconnecté</p>
    </div>
</header>

<body>

    <div id="identification">
        <div id="utilisateur">

            <img src="mqj.png" width="25%" />
            <h2>Identification</h2>
            <input placeholder="Nom d'utilisateur" type="text" />
            <input placeholder="Mot de passe" type="password" />
            <button>Validez</button>

            <div class="newUtilisateur">
                <a href="./inscription">Nouveau membre</a>
            </div>

            <a href="/conditions-generales" class="conditions-link">Conditions Générales d'utilisation</a>

        </div>
    </div>

</body>

<app-footer></app-footer>

</html>