<html>

<header>
    <div class="container">
        <a href="/accueil"><img src="mqj.png" alt="Logo" height="70"></a>
        <h2>Inscrivez-vous pour accédé au service !</h2>
        <p>Déconnecté</p>
    </div>
</header>

<body>

    <div id="identification">
        <div id="utilisateur">

            <img src="mqj.png" width="25%" />
            <h2>Inscription</h2>
            <input type=text placeholder="Email" />
            <input type=text placeholder="Nom d'utilisateur" />
            <input type=password placeholder="Mot de passe" />
            <button>Validez</button>
            <br>
            <a href="/conditions-generales" class="conditions-link">Conditions Générales d'utilisation</a>

        </div>
    </div>
</body>

<app-footer></app-footer>

</html>